<!DOCTYPE html>
<html>
<head>
	<title>Madjarska vazbanka</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	
<body class='new-word'>

    <h1>Login!</h1>
    <p>Morate biti administrator da biste unosili nove reÄi u bazu podataka.</p>
    <form action="/login" method="POST" class='form-new'>
       <input type="text" name="username" placeholder="username">
       <input type="password" name="password" placeholder="password">
      <input type="submit" value="Login!">
    </form>

    <a href="/" class='back'>Back</a>

</body>
</html>