<!DOCTYPE html>
<html>
<head>
	<title>Madjarska vazbanka</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	
<body class='drugibodi'>
    <div class='container'>
        <a href='/' class='btn btn-large btn-primary'>Nazad na vežbanku</a>
        <p><strong>VAŽNO: Sve reči u vežbanci su BEZ dijakritičkih znakova i akcenata!</strong></p>
        <h4>Dobrodošli u vežbanku mađarskih reči, koja se sastoji iz više delova, a oni su:</h4>
        <p><strong>1)</strong> Meni iz koga birate koje sve vrste reči hoćete da ubacite u igru. Ukoliko ni jedna kategorija nije označena, igra se zaustavlja i morate izabrati barem jednu kategoriju.</p>
        <p><strong>2)</strong> Meni iz koga birate na kom ćete jeziku pisati odgovore, to jest da li ćete prevoditi za srpskog na mađarski, ili obrnuto.</p>
        <p><strong>3)</strong> Glavni deo aplikacije, koji Vam omogućuje pisanje odgovora, sa dugmadima za proveru upravo unetog odgovora i dugmetom "DALJE" koje preskače trenutnu reč i daje Vam sledeću. Ukoliko je uneti odgovor tačan, dobićete sledeću reč, a ispod dugmea ta "DALJE" će na kratko stajati tačan odgovor. Ukoliko pogrešite, dobićete notifikaciju takođe ispod dugmet"DALJE", a ukoliko pritisnete dugme "DALJE", ispod njega će se na kratko pojaviti tačan odgovor. Ukoliko ste veoma blizu tačnog odgovora (1-2 slova nisu na mestu, nedostaju ili su višak), ispod dugmeta "DALJE" ćete dobiti ovu notifikaciju.<br><em>Napomena:</em> Odgovor možete proveriti i pritiskom na taster "ENTER" na tastaturi.<br><em>Napomena: </em>Pritisak na bilo koje dugme ga čini neaktivnim sledeće 2 sekunde.</p>
        <p><strong>4)</strong> Brojač tačnih i netačnih odgovora. Svaki put kada unesete i proverite netačan odgovor, povećaće se broj netačnih odgovora, a svaki put kada unesete tačan odgovor se povećava broj tačnih odgovora. U ovom delu postoji i dugme "reset" koje vraća brojače na nulu.</p>
        <p><strong>5)</strong> Odeljak za pomoć - kada prevučete mišom ili, ukoliko koristite telefon, pritisnete na "Pomoć prvo slovo", pojaviće se prvo slovo odgovora koji treba da date. Ispod ovoga će ostati zapisano koja reč je bila prethodni tačan odgovor, bez obzira da li ste dali tačan odgovor, ili kliknuli da dugme "DALJE".</p>
        <div id='uputstva2'>
            <h4>Dodatne napomene:</h4>
            <p> - U toku igre možete slobodno dodavati i oduzimati nove kategorije reči, a ukoliko izbacite kategoriju reči iz koje je zadata reč, reč će se promeniti.</p>
            <p> - Ukoliko ni jedna kategorija reči nije izabrana, onemogućen je unos u mesto za odgovore.</p>
            <p> - Ukoliko bilo koju reč iz date kategorije pogodite tri puta, ta reč se više neće pokazivati. Pri izbacivanju kategirije iz koje je takva reč i njenim ponovnim ubacivanjem u igru, reč ostaje izbačena iz igre, tako da je jedini način da se ova reč ponovo ubaci u igru refresh stranice.</p>
            <p> - Ukoliko pogodite sve reči iz zadatih kategorija tri puta, dobićete poruku o tome i te kategorije se više neće moći selektovati, osim u slučaju ponovnog učitavanja cele stranice.</p>
        </div>
    </div>

</body>
</html>